# adat - a download_data.py reprodukálja
data/raw/*
data/processed/*
!data/**/.gitkeep

# modellek
models/*.joblib
models/*.pkl

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

# rendszer
.DS_Store
